{
  "project_info": {
    "project_number": "VOTRE_PROJECT_NUMBER",
    "project_id": "votre-projet-firebase",
    "storage_bucket": "votre-projet.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:XXXX:android:XXXXXXXX",
        "android_client_info": {
          "package_name": "com.example.flutter_application_1"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "VOTRE_CLE_API_ANDROID"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
